<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Product Id="2210ab06-8ebc-5c1f-8c3d-d7620348ab7c" Name="RessurectIT.Msi.Installer" Language="1033" Codepage="1250" Version="!(bind.assemblyVersion.RessurectIT.Msi.Installer.dll)" Manufacturer="RessurectIT" UpgradeCode="369C83BF-7965-4AEE-B1DD-329BEB92D719">
        <Package Id="*" InstallerVersion="405" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" />
        <MajorUpgrade DowngradeErrorMessage="Newer version of [ProductName] is already installed." />
        <Media Id="1" EmbedCab="yes" Cabinet="RessurectIT.Msi.Installer.cab"/>

        <Condition Message="This application requires administrator privileges to be installed.">
            <![CDATA[Privileged]]>
        </Condition>

        <Binary Id="RessurectIT.Msi.Installer.CustomActions.CA.dll" SourceFile="$(var.RessurectIT.Msi.Installer.Installer.CustomActions.TargetDir)RessurectIT.Msi.Installer.Installer.CustomActions.CA.dll" />

        <CustomAction Id="UpdateConfigPrepareData"
                      Return="check"
                      Execute="immediate"
                      BinaryKey="RessurectIT.Msi.Installer.CustomActions.CA.dll"
                      DllEntry="UpdateConfigPrepareData"/>

        <CustomAction Id="UpdateConfig"
                      Return="check"
                      Execute="deferred"
                      BinaryKey="RessurectIT.Msi.Installer.CustomActions.CA.dll"
                      DllEntry="UpdateConfig"/>

        <CustomAction Id="SetRootDrive" Property="CROOT" Value="C:\RessurectIT" />

        <Feature Id="Complete" 
                 Title="RessurectIT MSI Installer"
                 Description="Complete with all features."
                 Display="expand"
                 Level="1"
                 ConfigurableDirectory="INSTALLFOLDER"
                 AllowAdvertise="no"
                 InstallDefault="local">
            <Feature Id="MsiInstaller"
                     Title="Msi Installer"
                     Description="The main executable."
                     Level="1"
                     AllowAdvertise="no"
                     Absent="disallow"
                     InstallDefault="local">
                <ComponentGroupRef Id="MsiInstallerFiles" />
                <ComponentRef Id="InstallFolderPermissions" />
            </Feature>
        </Feature>

        <Upgrade Id="369C83BF-7965-4AEE-B1DD-329BEB92D719">
            <UpgradeVersion Minimum="1.0.0"
                            IncludeMinimum="yes"
                            OnlyDetect="no"
                            IncludeMaximum="no"
                            Property="PREVIOUSFOUND" />
        </Upgrade>

        <InstallUISequence>
            <Custom Action="SetRootDrive" Before="AppSearch" />
        </InstallUISequence>

        <InstallExecuteSequence>
            <Custom Action="SetRootDrive" Before="AppSearch" />
            <Custom Action="UpdateConfigPrepareData" After="InstallFiles"><![CDATA[NOT REMOVE]]></Custom>
            <Custom Action="UpdateConfig" After="UpdateConfigPrepareData"><![CDATA[NOT REMOVE]]></Custom>
        </InstallExecuteSequence>

        <!-- <UI Id="MyWixUI_Mondo">
            <UIRef Id="WixUI_Mondo" />

            <DialogRef Id="ConfigurationDlg" />

            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="ConfigurationDlg">NOT Installed AND NOT PATCH</Publish>
            <Publish Dialog="SetupTypeDlg" Control="Back" Event="NewDialog" Value="ConfigurationDlg">1</Publish>
        </UI>

        <UIRef Id="WixUI_ErrorProgressText" /> -->
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="CROOT" Name="RessurectIT">
                <Directory Id="INSTALLFOLDER" Name="RessurectIT.Msi.Installer">
                    <Directory Id="MSIINSTALLERLOGFOLDER" Name="Logs" />
                </Directory>
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="MsiInstallerFiles" Directory="INSTALLFOLDER" Source="$(sys.CURRENTDIR)..\..\src\RessurectIT.Msi.Installer.Service\out">
            <Component Id="config.json" Guid="C615E532-B94F-49AD-82C8-8C6ED4EFBB3D">
                <File Id="config.json" KeyPath="yes" Name="config.json" />
            </Component>

            <Component Id="RessurectIT.Msi.Installer.dll" Guid="781191D3-179C-4F34-839C-1F3B98D8BA70">
                <File Id="RessurectIT.Msi.Installer.dll" KeyPath="yes" Name="RessurectIT.Msi.Installer.dll" Assembly=".net" AssemblyApplication="RessurectIT.Msi.Installer.dll" />
            </Component>
        </ComponentGroup>

        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="InstallFolderPermissions" Guid="F56A438B-5A89-4BF5-8A7E-A11EF410451F">
                <CreateFolder>
                    <util:PermissionEx User="Users" GenericWrite="no" Delete="no"/>
                    <util:PermissionEx User="Administrators" GenericAll="yes"/>
                </CreateFolder>
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>
