<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Product Id="a5f42230-1361-5822-9b5b-655bac6e51a8" Name="RessurectIT.Msi.Installer" Language="1033" Codepage="1250" Version="!(bind.assemblyVersion.RessurectIT.Msi.Installer.Service.dll)" Manufacturer="RessurectIT" UpgradeCode="369C83BF-7965-4AEE-B1DD-329BEB92D719">
        <Package Id="*" InstallerVersion="405" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" />
        <MajorUpgrade DowngradeErrorMessage="Newer version of [ProductName] is already installed." />
        <Media Id="1" EmbedCab="yes" Cabinet="RessurectIT.Msi.Installer.cab"/>

        <Condition Message="This application requires administrator privileges to be installed.">
            <![CDATA[Privileged]]>
        </Condition>

        <Binary Id="RessurectIT.Msi.Installer.CustomActions.CA.dll" SourceFile="$(var.RessurectIT.Msi.Installer.Installer.CustomActions.TargetDir)RessurectIT.Msi.Installer.Installer.CustomActions.CA.dll" />

        <CustomAction Id="UpdateConfigPrepareData"
                      Return="check"
                      Execute="immediate"
                      BinaryKey="RessurectIT.Msi.Installer.CustomActions.CA.dll"
                      DllEntry="UpdateConfigPrepareData"/>

        <CustomAction Id="ObtainDefaultConfiguration"
                      Return="check"
                      Execute="immediate"
                      BinaryKey="RessurectIT.Msi.Installer.CustomActions.CA.dll"
                      DllEntry="ObtainDefaultConfiguration"/>

        <CustomAction Id="UpdateConfig"
                      Return="check"
                      Execute="deferred"
                      BinaryKey="RessurectIT.Msi.Installer.CustomActions.CA.dll"
                      DllEntry="UpdateConfig"/>

        <CustomAction Id="SetRootDrive" Property="CROOT" Value="C:\RessurectIT" />

        <Feature Id="Complete" 
                 Title="RessurectIT MSI Installer"
                 Description="Complete with all features."
                 Display="expand"
                 Level="1"
                 ConfigurableDirectory="INSTALLFOLDER"
                 AllowAdvertise="no"
                 InstallDefault="local">
            <Feature Id="MsiInstaller"
                     Title="Msi Installer"
                     Description="The main executable."
                     Level="1"
                     AllowAdvertise="no"
                     Absent="disallow"
                     InstallDefault="local">
                <ComponentGroupRef Id="MsiInstallerFiles" />
                <ComponentGroupRef Id="MsiInstallerRegistrations" />
                <ComponentRef Id="InstallFolderPermissions" />
                <ComponentRef Id="MsiInstallerLogFolderPermissions" />
            </Feature>
        </Feature>

        <Upgrade Id="369C83BF-7965-4AEE-B1DD-329BEB92D719">
            <UpgradeVersion Minimum="1.0.0"
                            IncludeMinimum="yes"
                            OnlyDetect="no"
                            IncludeMaximum="no"
                            Property="PREVIOUSFOUND" />
        </Upgrade>

        <InstallUISequence>
            <Custom Action="SetRootDrive" Before="AppSearch" />
            <Custom Action="ObtainDefaultConfiguration" After="AppSearch"><![CDATA[NOT REMOVE]]></Custom>
        </InstallUISequence>

        <InstallExecuteSequence>
            <Custom Action="SetRootDrive" Before="AppSearch" />
            <Custom Action="ObtainDefaultConfiguration" After="AppSearch"><![CDATA[NOT REMOVE AND UILevel <> 5]]></Custom>
            <Custom Action="UpdateConfigPrepareData" After="InstallFiles"><![CDATA[NOT REMOVE]]></Custom>
            <Custom Action="UpdateConfig" After="UpdateConfigPrepareData"><![CDATA[NOT REMOVE]]></Custom>
        </InstallExecuteSequence>

        <UI Id="MyWixUI_Mondo">
            <UIRef Id="WixUI_Mondo" />

            <DialogRef Id="ConfigurationDlg" />

            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="ConfigurationDlg">NOT Installed AND NOT PATCH</Publish>
            <Publish Dialog="SetupTypeDlg" Control="Back" Event="NewDialog" Value="ConfigurationDlg">1</Publish>
        </UI>

        <UIRef Id="WixUI_ErrorProgressText" />
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="CROOT" Name="RessurectIT">
                <Directory Id="INSTALLFOLDER" Name="RessurectIT.Msi.Installer">
                    <Directory Id="MSIINSTALLERLOGFOLDER" Name="Logs" />
                    <Directory Id="cs" Name="cs"></Directory>
                    <Directory Id="de" Name="de"></Directory>
                    <Directory Id="es" Name="es"></Directory>
                    <Directory Id="fr" Name="fr"></Directory>
                    <Directory Id="it" Name="it"></Directory>
                    <Directory Id="ja" Name="ja"></Directory>
                    <Directory Id="ko" Name="ko"></Directory>
                    <Directory Id="pl" Name="pl"></Directory>
                    <Directory Id="pt_BR" Name="pt-BR"></Directory>
                    <Directory Id="ref" Name="ref"></Directory>
                    <Directory Id="ru" Name="ru"></Directory>

                    <Directory Id="runtimes" Name="runtimes">
                        <Directory Id="unix" Name="unix">
                            <Directory Id="lib" Name="lib">
                                <Directory Id="netcoreapp3.1" Name="netcoreapp3.1">
                                    <Directory Id="Modules" Name="Modules">
                                        <Directory Id="Microsoft.PowerShell.Host" Name="Microsoft.PowerShell.Host"></Directory>
                                        <Directory Id="Microsoft.PowerShell.Management" Name="Microsoft.PowerShell.Management"></Directory>
                                        <Directory Id="Microsoft.PowerShell.Security" Name="Microsoft.PowerShell.Security"></Directory>
                                        <Directory Id="Microsoft.PowerShell.Utility" Name="Microsoft.PowerShell.Utility"></Directory>
                                    </Directory>
                                </Directory>
                            </Directory>
                        </Directory>

                        <Directory Id="win" Name="win">
                            <Directory Id="lib_1" Name="lib">
                                <Directory Id="netcoreapp3.1_1" Name="netcoreapp3.1">
                                    <Directory Id="Modules_1" Name="Modules">
                                        <Directory Id="CimCmdlets" Name="CimCmdlets"></Directory>
                                        <Directory Id="Microsoft.PowerShell.Diagnostics" Name="Microsoft.PowerShell.Diagnostics"></Directory>
                                        <Directory Id="Microsoft.PowerShell.Host_1" Name="Microsoft.PowerShell.Host"></Directory>
                                        <Directory Id="Microsoft.PowerShell.Management_1" Name="Microsoft.PowerShell.Management"></Directory>
                                        <Directory Id="Microsoft.PowerShell.Security_1" Name="Microsoft.PowerShell.Security"></Directory>
                                        <Directory Id="Microsoft.PowerShell.Utility_1" Name="Microsoft.PowerShell.Utility"></Directory>
                                        <Directory Id="Microsoft.WSMan.Management" Name="Microsoft.WSMan.Management"></Directory>
                                        <Directory Id="PSDiagnostics" Name="PSDiagnostics"></Directory>
                                    </Directory>
                                </Directory>
                            </Directory>
                        </Directory>
                    </Directory>

                    <Directory Id="tr" Name="tr"></Directory>
                    <Directory Id="zh_Hans" Name="zh-Hans"></Directory>
                    <Directory Id="zh_Hant" Name="zh-Hant"></Directory>
                </Directory>
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="MsiInstallerFiles">
            <ComponentGroupRef Id="outFiles" />

            <ComponentGroupRef Id="csFiles" />
            <ComponentGroupRef Id="deFiles" />
            <ComponentGroupRef Id="esFiles" />
            <ComponentGroupRef Id="frFiles" />
            <ComponentGroupRef Id="itFiles" />
            <ComponentGroupRef Id="jaFiles" />
            <ComponentGroupRef Id="koFiles" />
            <ComponentGroupRef Id="plFiles" />
            <ComponentGroupRef Id="pt_BRFiles" />
            <ComponentGroupRef Id="refFiles" />
            <ComponentGroupRef Id="ruFiles" />
            <ComponentGroupRef Id="trFiles" />
            <ComponentGroupRef Id="zh_HansFiles" />
            <ComponentGroupRef Id="zh_HantFiles" />

            <ComponentGroupRef Id="Microsoft.PowerShell.HostFiles" />
            <ComponentGroupRef Id="Microsoft.PowerShell.ManagementFiles" />
            <ComponentGroupRef Id="Microsoft.PowerShell.SecurityFiles" />
            <ComponentGroupRef Id="Microsoft.PowerShell.UtilityFiles" />

            <ComponentGroupRef Id="CimCmdletsFiles" />
            <ComponentGroupRef Id="Microsoft.PowerShell.DiagnosticsFiles" />
            <ComponentGroupRef Id="Microsoft.PowerShell.Host_1Files" />
            <ComponentGroupRef Id="Microsoft.PowerShell.Management_1Files" />
            <ComponentGroupRef Id="Microsoft.PowerShell.Security_1Files" />
            <ComponentGroupRef Id="Microsoft.PowerShell.Utility_1Files" />
            <ComponentGroupRef Id="Microsoft.WSMan.ManagementFiles" />
            <ComponentGroupRef Id="PSDiagnosticsFiles" />

            <ComponentGroupRef Id="MsiInstallerExeFiles" />
        </ComponentGroup>

        <ComponentGroup Id="MsiInstallerExeFiles" Directory="INSTALLFOLDER">
            <Component Id="RessurectIT.Msi.Installer.deps.json" Guid="B6D3E040-2756-4D12-9DE5-6EE6B09F3DC1">
                <File Id="RessurectIT.Msi.Installer.deps.json" KeyPath="yes" Source="$(sys.CURRENTDIR)..\..\src\RessurectIT.Msi.Installer\bin\RessurectIT.Msi.Installer.deps.json" Name="RessurectIT.Msi.Installer.deps.json" />
            </Component>

            <Component Id="RessurectIT.Msi.Installer.runtimeconfig.json" Guid="0F2F6169-6B17-4AD2-998E-2C666BEAAD52">
                <File Id="RessurectIT.Msi.Installer.runtimeconfig.json" KeyPath="yes" Source="$(sys.CURRENTDIR)..\..\src\RessurectIT.Msi.Installer\bin\RessurectIT.Msi.Installer.runtimeconfig.json" Name="RessurectIT.Msi.Installer.runtimeconfig.json" />
            </Component>
        </ComponentGroup>

        <?include out.wxi ?>

        <?include cs.wxi ?>
        <?include de.wxi ?>
        <?include es.wxi ?>
        <?include fr.wxi ?>
        <?include it.wxi ?>
        <?include ja.wxi ?>
        <?include ko.wxi ?>
        <?include pl.wxi ?>
        <?include pt_BR.wxi ?>
        <?include ref.wxi ?>
        <?include ru.wxi ?>
        <?include tr.wxi ?>
        <?include zh_Hans.wxi ?>
        <?include zh_Hant.wxi ?>

        <?include Modules.wxi ?>
        <?include Modules_1.wxi ?>

        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="InstallFolderPermissions" Guid="F56A438B-5A89-4BF5-8A7E-A11EF410451F">
                <CreateFolder>
                    <util:PermissionEx User="Users" GenericWrite="no" Delete="no"/>
                    <util:PermissionEx User="Administrators" GenericAll="yes"/>
                </CreateFolder>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="MSIINSTALLERLOGFOLDER">
            <Component Id="MsiInstallerLogFolderPermissions" Guid="60E329CF-F83E-44C0-BB5E-5D74C199976D">
                <CreateFolder>
                    <util:PermissionEx User="Users" GenericAll="yes"/>
                </CreateFolder>
            </Component>
        </DirectoryRef>

        <ComponentGroup Id="MsiInstallerRegistrations" Directory="INSTALLFOLDER">
            <Component Id="MsiInstallerProtocolRegistration" Guid="876AB6D3-D71F-4A04-8AA0-0BB1BEDDD508">
                <RegistryValue Id="MsiInstallerProtocolRootRegistry"
                               Root="HKCR"
                               Action="write"
                               Key="msiinstall"
                               Value="URL:msiinstall Protocol"
                               Type="string" />

                <RegistryValue Id="MsiInstallerProtocolUrlRegistry"
                               Root="HKCR"
                               Action="write"
                               Key="msiinstall"
                               Name="URL Protocol"
                               Value=""
                               Type="string" />

                <RegistryValue Id="MsiInstallerProtocolCommandRegistry"
                               Root="HKCR"
                               Action="write"
                               Key="msiinstall\shell\open\command"
                               Value="&quot;[INSTALLFOLDER]RessurectIT.Msi.Installer.exe&quot; --install &quot;%1&quot;"
                               Type="string" />
            </Component>

            <!-- <Component Id="MsiInstallerUrlReservation" Guid="E62D3289-4CBF-42EB-A504-C5C8E9C8AD0E">
                <CreateFolder/>

                <http:UrlReservation Url="http://+:[SRV_PORT]/" HandleExisting="fail">
                    <http:UrlAce SecurityPrincipal="Everyone" Rights="all" />
                </http:UrlReservation>
            </Component> -->
        </ComponentGroup>
    </Fragment>
</Wix>
